<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>

<title>Products</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

</head>

<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="container">
	<label class="label">Products</label>
		<table class="table">
			<thead>
				<tr>
					<th >Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${listProducts}">
					<th th:text="${product.id}" ></th>
					<td th:text="${product.name}" ></td>
					<td th:text="${product.price}" ></td>
					<td> <a th:href="@{/order/addToActualOrder?productId=}+${product.id}">+</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
